In [2]:
#Final Post Salaries Data

In [14]:
import pandas as pd
import numpy as np
df = pd.read_csv('final-post-college-salaries.csv')

In [16]:
df

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,"$98,100","$212,100",60%
1,2,Operations Research & Industrial Engineering,Bachelors,"$101,200","$202,600",21%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,"$128,500","$192,300",45%
3,4,Interaction Design,Bachelors,"$77,400","$178,800",55%
4,5,Building Science,Bachelors,"$71,100","$172,400",46%
...,...,...,...,...,...,...
758,759,Equine Studies,Bachelors,"$42,300","$54,100",50%
759,760,Nonprofit Administration,Bachelors,"$43,900","$53,700",73%
760,761,Addictions Counseling,Bachelors,"$47,300","$52,400",78%
761,762,Early Childhood Education,Bachelors,"$43,400","$52,200",78%
762,763,Metalsmithing,Bachelors,"$45,900","$46,600",36%

In [20]:
df.replace('-',np.NaN,inplace = True)

In [22]:
df.dropna()

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,"$98,100","$212,100",60%
1,2,Operations Research & Industrial Engineering,Bachelors,"$101,200","$202,600",21%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,"$128,500","$192,300",45%
3,4,Interaction Design,Bachelors,"$77,400","$178,800",55%
4,5,Building Science,Bachelors,"$71,100","$172,400",46%
...,...,...,...,...,...,...
758,759,Equine Studies,Bachelors,"$42,300","$54,100",50%
759,760,Nonprofit Administration,Bachelors,"$43,900","$53,700",73%
760,761,Addictions Counseling,Bachelors,"$47,300","$52,400",78%
761,762,Early Childhood Education,Bachelors,"$43,400","$52,200",78%
762,763,Metalsmithing,Bachelors,"$45,900","$46,600",36%

In [24]:
#Actually, the data here is as same as the previous data.
#So the operations are also same.
#If you want to perform on it, you can!