In [19]:
import pandas as pd
import numpy as np
dt = pd.read_csv("sample.csv")
dt

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,"$98,100","$212,100",60%
1,2,Operations Research & Industrial Engineering,Bachelors,"$101,200","$202,600",21%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,"$128,500","$192,300",45%
3,4,Interaction Design,Bachelors,"$77,400","$178,800",55%
4,5,Building Science,Bachelors,"$71,100","$172,400",46%
5,6,Applied Economics and Management,Bachelors,"$81,200","$169,300",47%
6,7,Actuarial Mathematics,Bachelors,"$71,200","$167,500",48%
7,8,Optical Science & Engineering,Bachelors,"$81,500","$166,400",73%
8,9,Quantitative Economics,Bachelors,"$78,400","$165,100",43%
9,10,Operations Research,Bachelors,"$94,900","$164,900",56%
10,11,Systems Engineering,Bachelors,"$89,700","$163,800",57%
11,12,Information & Computer Science,Bachelors,"$73,200","$162,900",65%
12,13,Public Accounting,Bachelors,"$71,500","$162,200",47%
13,14,Cognitive Science,Bachelors,"$80,300","$162,100",43%
14,15,Aeronautics & Astronautics,Bachelors,"$89,800","$161,600",60%
15,16,Aerospace Studies,Bachelors,"$64,500","$158,400",-
16,17,Pharmacy,Bachelors,"$71,500","$158,000",80%
17,18,Managerial Economics,Bachelors,"$78,200","$157,800",38%
18,19,Foreign Affairs,Bachelors,"$65,200","$157,700",32%
19,20,Political Economy,Bachelors,"$75,800","$156,700",30%
20,21,Chemical Engineering,Bachelors,"$87,700","$156,100",54%
21,21,Marine Transportation Management,Bachelors,"$78,500","$156,100",-
22,23,Computer Science (CS) & Engineering,Bachelors,"$93,500","$154,100",44%
23,24,Corporate Accounting & Finance,Bachelors,"$79,100","$154,000",-
24,25,Computer Engineering (CE),Bachelors,"$92,000","$153,800",46%

In [21]:
dt.replace('-',np.NaN,inplace = True)
dt

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,"$98,100","$212,100",60%
1,2,Operations Research & Industrial Engineering,Bachelors,"$101,200","$202,600",21%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,"$128,500","$192,300",45%
3,4,Interaction Design,Bachelors,"$77,400","$178,800",55%
4,5,Building Science,Bachelors,"$71,100","$172,400",46%
5,6,Applied Economics and Management,Bachelors,"$81,200","$169,300",47%
6,7,Actuarial Mathematics,Bachelors,"$71,200","$167,500",48%
7,8,Optical Science & Engineering,Bachelors,"$81,500","$166,400",73%
8,9,Quantitative Economics,Bachelors,"$78,400","$165,100",43%
9,10,Operations Research,Bachelors,"$94,900","$164,900",56%
10,11,Systems Engineering,Bachelors,"$89,700","$163,800",57%
11,12,Information & Computer Science,Bachelors,"$73,200","$162,900",65%
12,13,Public Accounting,Bachelors,"$71,500","$162,200",47%
13,14,Cognitive Science,Bachelors,"$80,300","$162,100",43%
14,15,Aeronautics & Astronautics,Bachelors,"$89,800","$161,600",60%
15,16,Aerospace Studies,Bachelors,"$64,500","$158,400",NaN
16,17,Pharmacy,Bachelors,"$71,500","$158,000",80%
17,18,Managerial Economics,Bachelors,"$78,200","$157,800",38%
18,19,Foreign Affairs,Bachelors,"$65,200","$157,700",32%
19,20,Political Economy,Bachelors,"$75,800","$156,700",30%
20,21,Chemical Engineering,Bachelors,"$87,700","$156,100",54%
21,21,Marine Transportation Management,Bachelors,"$78,500","$156,100",NaN
22,23,Computer Science (CS) & Engineering,Bachelors,"$93,500","$154,100",44%
23,24,Corporate Accounting & Finance,Bachelors,"$79,100","$154,000",NaN
24,25,Computer Engineering (CE),Bachelors,"$92,000","$153,800",46%

In [23]:
dt.isnull()

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,True
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,True
22,False,False,False,False,False,False
23,False,False,False,False,False,True
24,False,False,False,False,False,False

In [25]:
dt1 = dt.dropna()
dt1

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,"$98,100","$212,100",60%
1,2,Operations Research & Industrial Engineering,Bachelors,"$101,200","$202,600",21%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,"$128,500","$192,300",45%
3,4,Interaction Design,Bachelors,"$77,400","$178,800",55%
4,5,Building Science,Bachelors,"$71,100","$172,400",46%
5,6,Applied Economics and Management,Bachelors,"$81,200","$169,300",47%
6,7,Actuarial Mathematics,Bachelors,"$71,200","$167,500",48%
7,8,Optical Science & Engineering,Bachelors,"$81,500","$166,400",73%
8,9,Quantitative Economics,Bachelors,"$78,400","$165,100",43%
9,10,Operations Research,Bachelors,"$94,900","$164,900",56%
10,11,Systems Engineering,Bachelors,"$89,700","$163,800",57%
11,12,Information & Computer Science,Bachelors,"$73,200","$162,900",65%
12,13,Public Accounting,Bachelors,"$71,500","$162,200",47%
13,14,Cognitive Science,Bachelors,"$80,300","$162,100",43%
14,15,Aeronautics & Astronautics,Bachelors,"$89,800","$161,600",60%
16,17,Pharmacy,Bachelors,"$71,500","$158,000",80%
17,18,Managerial Economics,Bachelors,"$78,200","$157,800",38%
18,19,Foreign Affairs,Bachelors,"$65,200","$157,700",32%
19,20,Political Economy,Bachelors,"$75,800","$156,700",30%
20,21,Chemical Engineering,Bachelors,"$87,700","$156,100",54%
22,23,Computer Science (CS) & Engineering,Bachelors,"$93,500","$154,100",44%
24,25,Computer Engineering (CE),Bachelors,"$92,000","$153,800",46%

#First thing I am gonna do is converting the pay from dollars to rupees.

#To do that, i need to remove the dollar symbol and comma from the pay and convert
them into float as they are in object type.

In [32]:
for i in dt1['Early Career Pay']:
    dt1.replace(i, i.replace('$',''),inplace = True)
    dt1.replace(i, i.replace(',',''),inplace = True)
dt1

/tmp/ipykernel_5075/2199169944.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt1.replace(i, i.replace('$',''),inplace = True)
/tmp/ipykernel_5075/2199169944.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt1.replace(i, i.replace(',',''),inplace = True)

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,98100,"212,100",60%
1,2,Operations Research & Industrial Engineering,Bachelors,101200,"202,600",21%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,128500,"192,300",45%
3,4,Interaction Design,Bachelors,77400,"178,800",55%
4,5,Building Science,Bachelors,71100,"172,400",46%
5,6,Applied Economics and Management,Bachelors,81200,"169,300",47%
6,7,Actuarial Mathematics,Bachelors,71200,"167,500",48%
7,8,Optical Science & Engineering,Bachelors,81500,"166,400",73%
8,9,Quantitative Economics,Bachelors,78400,"165,100",43%
9,10,Operations Research,Bachelors,94900,"164,900",56%
10,11,Systems Engineering,Bachelors,89700,"163,800",57%
11,12,Information & Computer Science,Bachelors,73200,"162,900",65%
12,13,Public Accounting,Bachelors,71500,"162,200",47%
13,14,Cognitive Science,Bachelors,80300,"162,100",43%
14,15,Aeronautics & Astronautics,Bachelors,89800,"161,600",60%
16,17,Pharmacy,Bachelors,71500,"158,000",80%
17,18,Managerial Economics,Bachelors,78200,"157,800",38%
18,19,Foreign Affairs,Bachelors,65200,"157,700",32%
19,20,Political Economy,Bachelors,75800,"156,700",30%
20,21,Chemical Engineering,Bachelors,87700,"156,100",54%
22,23,Computer Science (CS) & Engineering,Bachelors,93500,"154,100",44%
24,25,Computer Engineering (CE),Bachelors,92000,"153,800",46%

In [34]:
for i in dt1['Mid-Career Pay']:
    dt1.replace(i, i.replace('$',''),inplace = True)
    dt1.replace(i, i.replace(',',''),inplace = True)
dt1

/tmp/ipykernel_5075/1816929238.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt1.replace(i, i.replace('$',''),inplace = True)
/tmp/ipykernel_5075/1816929238.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt1.replace(i, i.replace(',',''),inplace = True)

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,98100,212100,60%
1,2,Operations Research & Industrial Engineering,Bachelors,101200,202600,21%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,128500,192300,45%
3,4,Interaction Design,Bachelors,77400,178800,55%
4,5,Building Science,Bachelors,71100,172400,46%
5,6,Applied Economics and Management,Bachelors,81200,169300,47%
6,7,Actuarial Mathematics,Bachelors,71200,167500,48%
7,8,Optical Science & Engineering,Bachelors,81500,166400,73%
8,9,Quantitative Economics,Bachelors,78400,165100,43%
9,10,Operations Research,Bachelors,94900,164900,56%
10,11,Systems Engineering,Bachelors,89700,163800,57%
11,12,Information & Computer Science,Bachelors,73200,162900,65%
12,13,Public Accounting,Bachelors,71500,162200,47%
13,14,Cognitive Science,Bachelors,80300,162100,43%
14,15,Aeronautics & Astronautics,Bachelors,89800,161600,60%
16,17,Pharmacy,Bachelors,71500,158000,80%
17,18,Managerial Economics,Bachelors,78200,157800,38%
18,19,Foreign Affairs,Bachelors,65200,157700,32%
19,20,Political Economy,Bachelors,75800,156700,30%
20,21,Chemical Engineering,Bachelors,87700,156100,54%
22,23,Computer Science (CS) & Engineering,Bachelors,93500,154100,44%
24,25,Computer Engineering (CE),Bachelors,92000,153800,46%

In [36]:
dt2 = dt1['Early Career Pay'].astype(float)
dt3 = dt1['Mid-Career Pay'].astype(float)
dt2
dt3

0     212100.0
1     202600.0
2     192300.0
3     178800.0
4     172400.0
5     169300.0
6     167500.0
7     166400.0
8     165100.0
9     164900.0
10    163800.0
11    162900.0
12    162200.0
13    162100.0
14    161600.0
16    158000.0
17    157800.0
18    157700.0
19    156700.0
20    156100.0
22    154100.0
24    153800.0
Name: Mid-Career Pay, dtype: float64

In [38]:
dt1['Early Career Pay'] = dt2
dt1['Mid-Career Pay'] = dt3
dt1

/tmp/ipykernel_5075/689344635.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt1['Early Career Pay'] = dt2
/tmp/ipykernel_5075/689344635.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt1['Mid-Career Pay'] = dt3

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,98100.0,212100.0,60%
1,2,Operations Research & Industrial Engineering,Bachelors,101200.0,202600.0,21%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,128500.0,192300.0,45%
3,4,Interaction Design,Bachelors,77400.0,178800.0,55%
4,5,Building Science,Bachelors,71100.0,172400.0,46%
5,6,Applied Economics and Management,Bachelors,81200.0,169300.0,47%
6,7,Actuarial Mathematics,Bachelors,71200.0,167500.0,48%
7,8,Optical Science & Engineering,Bachelors,81500.0,166400.0,73%
8,9,Quantitative Economics,Bachelors,78400.0,165100.0,43%
9,10,Operations Research,Bachelors,94900.0,164900.0,56%
10,11,Systems Engineering,Bachelors,89700.0,163800.0,57%
11,12,Information & Computer Science,Bachelors,73200.0,162900.0,65%
12,13,Public Accounting,Bachelors,71500.0,162200.0,47%
13,14,Cognitive Science,Bachelors,80300.0,162100.0,43%
14,15,Aeronautics & Astronautics,Bachelors,89800.0,161600.0,60%
16,17,Pharmacy,Bachelors,71500.0,158000.0,80%
17,18,Managerial Economics,Bachelors,78200.0,157800.0,38%
18,19,Foreign Affairs,Bachelors,65200.0,157700.0,32%
19,20,Political Economy,Bachelors,75800.0,156700.0,30%
20,21,Chemical Engineering,Bachelors,87700.0,156100.0,54%
22,23,Computer Science (CS) & Engineering,Bachelors,93500.0,154100.0,44%
24,25,Computer Engineering (CE),Bachelors,92000.0,153800.0,46%

In [40]:
dt1.dtypes

Rank                  int64
Major                object
Degree Type          object
Early Career Pay    float64
Mid-Career Pay      float64
% High Meaning       object
dtype: object

#Now the Conversion is over

#To Convert from dollars to rupees, i need to multiply each value by 83 INR

In [43]:
dt1['Early Career Pay'] = dt1['Early Career Pay']*82.27
dt1

/tmp/ipykernel_5075/52305623.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt1['Early Career Pay'] = dt1['Early Career Pay']*82.27

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,8070687.0,212100.0,60%
1,2,Operations Research & Industrial Engineering,Bachelors,8325724.0,202600.0,21%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,10571695.0,192300.0,45%
3,4,Interaction Design,Bachelors,6367698.0,178800.0,55%
4,5,Building Science,Bachelors,5849397.0,172400.0,46%
5,6,Applied Economics and Management,Bachelors,6680324.0,169300.0,47%
6,7,Actuarial Mathematics,Bachelors,5857624.0,167500.0,48%
7,8,Optical Science & Engineering,Bachelors,6705005.0,166400.0,73%
8,9,Quantitative Economics,Bachelors,6449968.0,165100.0,43%
9,10,Operations Research,Bachelors,7807423.0,164900.0,56%
10,11,Systems Engineering,Bachelors,7379619.0,163800.0,57%
11,12,Information & Computer Science,Bachelors,6022164.0,162900.0,65%
12,13,Public Accounting,Bachelors,5882305.0,162200.0,47%
13,14,Cognitive Science,Bachelors,6606281.0,162100.0,43%
14,15,Aeronautics & Astronautics,Bachelors,7387846.0,161600.0,60%
16,17,Pharmacy,Bachelors,5882305.0,158000.0,80%
17,18,Managerial Economics,Bachelors,6433514.0,157800.0,38%
18,19,Foreign Affairs,Bachelors,5364004.0,157700.0,32%
19,20,Political Economy,Bachelors,6236066.0,156700.0,30%
20,21,Chemical Engineering,Bachelors,7215079.0,156100.0,54%
22,23,Computer Science (CS) & Engineering,Bachelors,7692245.0,154100.0,44%
24,25,Computer Engineering (CE),Bachelors,7568840.0,153800.0,46%

In [45]:
dt1['Mid-Career Pay'] = dt1['Mid-Career Pay']*82.27
dt1

/tmp/ipykernel_5075/1190387135.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt1['Mid-Career Pay'] = dt1['Mid-Career Pay']*82.27

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,8070687.0,17449467.0,60%
1,2,Operations Research & Industrial Engineering,Bachelors,8325724.0,16667902.0,21%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,10571695.0,15820521.0,45%
3,4,Interaction Design,Bachelors,6367698.0,14709876.0,55%
4,5,Building Science,Bachelors,5849397.0,14183348.0,46%
5,6,Applied Economics and Management,Bachelors,6680324.0,13928311.0,47%
6,7,Actuarial Mathematics,Bachelors,5857624.0,13780225.0,48%
7,8,Optical Science & Engineering,Bachelors,6705005.0,13689728.0,73%
8,9,Quantitative Economics,Bachelors,6449968.0,13582777.0,43%
9,10,Operations Research,Bachelors,7807423.0,13566323.0,56%
10,11,Systems Engineering,Bachelors,7379619.0,13475826.0,57%
11,12,Information & Computer Science,Bachelors,6022164.0,13401783.0,65%
12,13,Public Accounting,Bachelors,5882305.0,13344194.0,47%
13,14,Cognitive Science,Bachelors,6606281.0,13335967.0,43%
14,15,Aeronautics & Astronautics,Bachelors,7387846.0,13294832.0,60%
16,17,Pharmacy,Bachelors,5882305.0,12998660.0,80%
17,18,Managerial Economics,Bachelors,6433514.0,12982206.0,38%
18,19,Foreign Affairs,Bachelors,5364004.0,12973979.0,32%
19,20,Political Economy,Bachelors,6236066.0,12891709.0,30%
20,21,Chemical Engineering,Bachelors,7215079.0,12842347.0,54%
22,23,Computer Science (CS) & Engineering,Bachelors,7692245.0,12677807.0,44%
24,25,Computer Engineering (CE),Bachelors,7568840.0,12653126.0,46%

#So Performed basic operations like, removing null data, accessing columns, replacing values, multiplying values, changing column data types and got the data into required format.

#Now we can perform some statistics operations on them.

In [48]:
(dt1['Early Career Pay'].sum())/22

6925264.2272727275

In [50]:
dt1['Early Career Pay'].mean()

6925264.2272727275

In [52]:
dt1['Mid-Career Pay'].sum()

304250914.0

In [54]:
dt1['Mid-Career Pay'].mean()

13829587.0

In [56]:
dt1['Mid-Career Pay'].var()

1617346270832.8572

In [58]:
dt1['Mid-Career Pay'].mode()

0     12653126.0
1     12677807.0
2     12842347.0
3     12891709.0
4     12973979.0
5     12982206.0
6     12998660.0
7     13294832.0
8     13335967.0
9     13344194.0
10    13401783.0
11    13475826.0
12    13566323.0
13    13582777.0
14    13689728.0
15    13780225.0
16    13928311.0
17    14183348.0
18    14709876.0
19    15820521.0
20    16667902.0
21    17449467.0
Name: Mid-Career Pay, dtype: float64

In [60]:
dt1.count()

Rank                22
Major               22
Degree Type         22
Early Career Pay    22
Mid-Career Pay      22
% High Meaning      22
dtype: int64

#Accessing required columns and performing operations.

In [63]:
temp_data1 = dt1[dt1['% High Meaning'] == '60%']
temp_data1

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,8070687.0,17449467.0,60%
14,15,Aeronautics & Astronautics,Bachelors,7387846.0,13294832.0,60%

In [65]:
temp_data1.max()

Rank                                   15
Major               Petroleum Engineering
Degree Type                     Bachelors
Early Career Pay                8070687.0
Mid-Career Pay                 17449467.0
% High Meaning                        60%
dtype: object

In [67]:
temp_data1['Mid-Career Pay'].min()

13294832.0

In [69]:
temp_data1.rename({0:'one', 14:'Two'},axis = "index")

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
one,1,Petroleum Engineering,Bachelors,8070687.0,17449467.0,60%
Two,15,Aeronautics & Astronautics,Bachelors,7387846.0,13294832.0,60%

#Let us perform some questions that are used to perform on the data.

#Data Understanding and Exploration

#Question1
#How many Unique majors and degree types are there?

#Question2 #Which major has the highest or lowest career pay?

#Question3 #What is the average early/mid/high career pay?

In [76]:
#Question1 
Major = dt1['Major'].nunique()
print(Major)
#or
Major = len(dt1['Major'].unique())
print(Major)
#Degree Types
degree = dt1['Degree Type'].nunique()
print(degree)

22
22
1

In [78]:
#Question2
#Highest Career Pay
dt4 = dt1.sort_values(by = 'Early Career Pay')
dt4.iloc[-1,:]

Rank                                                               3
Major               Electrical Engineering & Computer Science (EECS)
Degree Type                                                Bachelors
Early Career Pay                                          10571695.0
Mid-Career Pay                                            15820521.0
% High Meaning                                                   45%
Name: 2, dtype: object

In [80]:
#Question2
#Lowest Career Pay
dt4.iloc[0,:]

Rank                             19
Major               Foreign Affairs
Degree Type               Bachelors
Early Career Pay          5364004.0
Mid-Career Pay           12973979.0
% High Meaning                  32%
Name: 18, dtype: object

In [82]:
#Question3
#Average Career Pay
print(dt1['Early Career Pay'].mean())
#Average Mid Career Pay
print(dt1['Mid-Career Pay'].mean())

6925264.2272727275
13829587.0

#Data Filtering and Extraction

In [85]:
#Question1
#Find Majors where early career pay is greater than 6000000 
dt4[dt4['Early Career Pay']>6000000]['Major'].count()

17

In [87]:
#Question2 
#Get the top 5 majors by mid-career pay
#step1: Sort the Table By Mid-Career Pay
dt1.sort_values(by = "Mid-Career Pay").iloc[-1:-6:-1,:]

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,8070687.0,17449467.0,60%
1,2,Operations Research & Industrial Engineering,Bachelors,8325724.0,16667902.0,21%
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,10571695.0,15820521.0,45%
3,4,Interaction Design,Bachelors,6367698.0,14709876.0,55%
4,5,Building Science,Bachelors,5849397.0,14183348.0,46%

In [89]:
#Question3
#Get the Records where high meaning percentage is greater than 80%
for row in dt4['% High Meaning']:
    dt4.replace( {row:row.replace('%','')},inplace = True)
High_Meaning_values = dt4['% High Meaning'].astype(float)
dt4['% High Meaning'] = High_Meaning_values
dt4

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
18,19,Foreign Affairs,Bachelors,5364004.0,12973979.0,32.0
4,5,Building Science,Bachelors,5849397.0,14183348.0,46.0
6,7,Actuarial Mathematics,Bachelors,5857624.0,13780225.0,48.0
12,13,Public Accounting,Bachelors,5882305.0,13344194.0,47.0
16,17,Pharmacy,Bachelors,5882305.0,12998660.0,80.0
11,12,Information & Computer Science,Bachelors,6022164.0,13401783.0,65.0
19,20,Political Economy,Bachelors,6236066.0,12891709.0,30.0
3,4,Interaction Design,Bachelors,6367698.0,14709876.0,55.0
17,18,Managerial Economics,Bachelors,6433514.0,12982206.0,38.0
8,9,Quantitative Economics,Bachelors,6449968.0,13582777.0,43.0
13,14,Cognitive Science,Bachelors,6606281.0,13335967.0,43.0
5,6,Applied Economics and Management,Bachelors,6680324.0,13928311.0,47.0
7,8,Optical Science & Engineering,Bachelors,6705005.0,13689728.0,73.0
20,21,Chemical Engineering,Bachelors,7215079.0,12842347.0,54.0
10,11,Systems Engineering,Bachelors,7379619.0,13475826.0,57.0
14,15,Aeronautics & Astronautics,Bachelors,7387846.0,13294832.0,60.0
24,25,Computer Engineering (CE),Bachelors,7568840.0,12653126.0,46.0
22,23,Computer Science (CS) & Engineering,Bachelors,7692245.0,12677807.0,44.0
9,10,Operations Research,Bachelors,7807423.0,13566323.0,56.0
0,1,Petroleum Engineering,Bachelors,8070687.0,17449467.0,60.0
1,2,Operations Research & Industrial Engineering,Bachelors,8325724.0,16667902.0,21.0
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,10571695.0,15820521.0,45.0

In [91]:
dt4[dt4['% High Meaning']>70]

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
16,17,Pharmacy,Bachelors,5882305.0,12998660.0,80.0
7,8,Optical Science & Engineering,Bachelors,6705005.0,13689728.0,73.0

#Grouping and Aggregation

In [94]:
#Question1
#What is the average pay for each degree type?
#There is only one degree type

In [96]:
print(dt1.groupby('Degree Type')['Early Career Pay'].mean())

Degree Type
Bachelors    6.925264e+06
Name: Early Career Pay, dtype: float64

In [98]:
#Question2
#Which degree type has highest average early career pay?

In [100]:
#There is only one degree type

#Data Transformation

In [103]:
#Question1
#Add a new column that gives the difference between Mid-Career Pay and Early Career Pay

In [105]:
dt1['Difference'] = dt1['Mid-Career Pay']-dt1['Early Career Pay'] 
dt1

/tmp/ipykernel_5075/242903599.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt1['Difference'] = dt1['Mid-Career Pay']-dt1['Early Career Pay']

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning,Difference
0,1,Petroleum Engineering,Bachelors,8070687.0,17449467.0,60%,9378780.0
1,2,Operations Research & Industrial Engineering,Bachelors,8325724.0,16667902.0,21%,8342178.0
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,10571695.0,15820521.0,45%,5248826.0
3,4,Interaction Design,Bachelors,6367698.0,14709876.0,55%,8342178.0
4,5,Building Science,Bachelors,5849397.0,14183348.0,46%,8333951.0
5,6,Applied Economics and Management,Bachelors,6680324.0,13928311.0,47%,7247987.0
6,7,Actuarial Mathematics,Bachelors,5857624.0,13780225.0,48%,7922601.0
7,8,Optical Science & Engineering,Bachelors,6705005.0,13689728.0,73%,6984723.0
8,9,Quantitative Economics,Bachelors,6449968.0,13582777.0,43%,7132809.0
9,10,Operations Research,Bachelors,7807423.0,13566323.0,56%,5758900.0
10,11,Systems Engineering,Bachelors,7379619.0,13475826.0,57%,6096207.0
11,12,Information & Computer Science,Bachelors,6022164.0,13401783.0,65%,7379619.0
12,13,Public Accounting,Bachelors,5882305.0,13344194.0,47%,7461889.0
13,14,Cognitive Science,Bachelors,6606281.0,13335967.0,43%,6729686.0
14,15,Aeronautics & Astronautics,Bachelors,7387846.0,13294832.0,60%,5906986.0
16,17,Pharmacy,Bachelors,5882305.0,12998660.0,80%,7116355.0
17,18,Managerial Economics,Bachelors,6433514.0,12982206.0,38%,6548692.0
18,19,Foreign Affairs,Bachelors,5364004.0,12973979.0,32%,7609975.0
19,20,Political Economy,Bachelors,6236066.0,12891709.0,30%,6655643.0
20,21,Chemical Engineering,Bachelors,7215079.0,12842347.0,54%,5627268.0
22,23,Computer Science (CS) & Engineering,Bachelors,7692245.0,12677807.0,44%,4985562.0
24,25,Computer Engineering (CE),Bachelors,7568840.0,12653126.0,46%,5084286.0

#Advanced Insights

In [108]:
#Question1
#Find the lucrative major with the highest "High Meaning Percentage"

In [110]:
dt4

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
18,19,Foreign Affairs,Bachelors,5364004.0,12973979.0,32.0
4,5,Building Science,Bachelors,5849397.0,14183348.0,46.0
6,7,Actuarial Mathematics,Bachelors,5857624.0,13780225.0,48.0
12,13,Public Accounting,Bachelors,5882305.0,13344194.0,47.0
16,17,Pharmacy,Bachelors,5882305.0,12998660.0,80.0
11,12,Information & Computer Science,Bachelors,6022164.0,13401783.0,65.0
19,20,Political Economy,Bachelors,6236066.0,12891709.0,30.0
3,4,Interaction Design,Bachelors,6367698.0,14709876.0,55.0
17,18,Managerial Economics,Bachelors,6433514.0,12982206.0,38.0
8,9,Quantitative Economics,Bachelors,6449968.0,13582777.0,43.0
13,14,Cognitive Science,Bachelors,6606281.0,13335967.0,43.0
5,6,Applied Economics and Management,Bachelors,6680324.0,13928311.0,47.0
7,8,Optical Science & Engineering,Bachelors,6705005.0,13689728.0,73.0
20,21,Chemical Engineering,Bachelors,7215079.0,12842347.0,54.0
10,11,Systems Engineering,Bachelors,7379619.0,13475826.0,57.0
14,15,Aeronautics & Astronautics,Bachelors,7387846.0,13294832.0,60.0
24,25,Computer Engineering (CE),Bachelors,7568840.0,12653126.0,46.0
22,23,Computer Science (CS) & Engineering,Bachelors,7692245.0,12677807.0,44.0
9,10,Operations Research,Bachelors,7807423.0,13566323.0,56.0
0,1,Petroleum Engineering,Bachelors,8070687.0,17449467.0,60.0
1,2,Operations Research & Industrial Engineering,Bachelors,8325724.0,16667902.0,21.0
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,10571695.0,15820521.0,45.0

In [112]:
highest = dt1['Major'].loc[dt4['% High Meaning'].idxmax()]
highest

'Pharmacy'

In [114]:
dt1

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning,Difference
0,1,Petroleum Engineering,Bachelors,8070687.0,17449467.0,60%,9378780.0
1,2,Operations Research & Industrial Engineering,Bachelors,8325724.0,16667902.0,21%,8342178.0
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,10571695.0,15820521.0,45%,5248826.0
3,4,Interaction Design,Bachelors,6367698.0,14709876.0,55%,8342178.0
4,5,Building Science,Bachelors,5849397.0,14183348.0,46%,8333951.0
5,6,Applied Economics and Management,Bachelors,6680324.0,13928311.0,47%,7247987.0
6,7,Actuarial Mathematics,Bachelors,5857624.0,13780225.0,48%,7922601.0
7,8,Optical Science & Engineering,Bachelors,6705005.0,13689728.0,73%,6984723.0
8,9,Quantitative Economics,Bachelors,6449968.0,13582777.0,43%,7132809.0
9,10,Operations Research,Bachelors,7807423.0,13566323.0,56%,5758900.0
10,11,Systems Engineering,Bachelors,7379619.0,13475826.0,57%,6096207.0
11,12,Information & Computer Science,Bachelors,6022164.0,13401783.0,65%,7379619.0
12,13,Public Accounting,Bachelors,5882305.0,13344194.0,47%,7461889.0
13,14,Cognitive Science,Bachelors,6606281.0,13335967.0,43%,6729686.0
14,15,Aeronautics & Astronautics,Bachelors,7387846.0,13294832.0,60%,5906986.0
16,17,Pharmacy,Bachelors,5882305.0,12998660.0,80%,7116355.0
17,18,Managerial Economics,Bachelors,6433514.0,12982206.0,38%,6548692.0
18,19,Foreign Affairs,Bachelors,5364004.0,12973979.0,32%,7609975.0
19,20,Political Economy,Bachelors,6236066.0,12891709.0,30%,6655643.0
20,21,Chemical Engineering,Bachelors,7215079.0,12842347.0,54%,5627268.0
22,23,Computer Science (CS) & Engineering,Bachelors,7692245.0,12677807.0,44%,4985562.0
24,25,Computer Engineering (CE),Bachelors,7568840.0,12653126.0,46%,5084286.0

In [116]:
#Question
#Find the growth rate and display the highest
dt1['Growth Rate'] = dt1['Difference']/dt1['Early Career Pay']
dt1

/tmp/ipykernel_5075/519556023.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dt1['Growth Rate'] = dt1['Difference']/dt1['Early Career Pay']

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning,Difference,Growth Rate
0,1,Petroleum Engineering,Bachelors,8070687.0,17449467.0,60%,9378780.0,1.162080
1,2,Operations Research & Industrial Engineering,Bachelors,8325724.0,16667902.0,21%,8342178.0,1.001976
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,10571695.0,15820521.0,45%,5248826.0,0.496498
3,4,Interaction Design,Bachelors,6367698.0,14709876.0,55%,8342178.0,1.310078
4,5,Building Science,Bachelors,5849397.0,14183348.0,46%,8333951.0,1.424754
5,6,Applied Economics and Management,Bachelors,6680324.0,13928311.0,47%,7247987.0,1.084975
6,7,Actuarial Mathematics,Bachelors,5857624.0,13780225.0,48%,7922601.0,1.352528
7,8,Optical Science & Engineering,Bachelors,6705005.0,13689728.0,73%,6984723.0,1.041718
8,9,Quantitative Economics,Bachelors,6449968.0,13582777.0,43%,7132809.0,1.105867
9,10,Operations Research,Bachelors,7807423.0,13566323.0,56%,5758900.0,0.737619
10,11,Systems Engineering,Bachelors,7379619.0,13475826.0,57%,6096207.0,0.826087
11,12,Information & Computer Science,Bachelors,6022164.0,13401783.0,65%,7379619.0,1.225410
12,13,Public Accounting,Bachelors,5882305.0,13344194.0,47%,7461889.0,1.268531
13,14,Cognitive Science,Bachelors,6606281.0,13335967.0,43%,6729686.0,1.018680
14,15,Aeronautics & Astronautics,Bachelors,7387846.0,13294832.0,60%,5906986.0,0.799555
16,17,Pharmacy,Bachelors,5882305.0,12998660.0,80%,7116355.0,1.209790
17,18,Managerial Economics,Bachelors,6433514.0,12982206.0,38%,6548692.0,1.017903
18,19,Foreign Affairs,Bachelors,5364004.0,12973979.0,32%,7609975.0,1.418712
19,20,Political Economy,Bachelors,6236066.0,12891709.0,30%,6655643.0,1.067282
20,21,Chemical Engineering,Bachelors,7215079.0,12842347.0,54%,5627268.0,0.779932
22,23,Computer Science (CS) & Engineering,Bachelors,7692245.0,12677807.0,44%,4985562.0,0.648128
24,25,Computer Engineering (CE),Bachelors,7568840.0,12653126.0,46%,5084286.0,0.671739

In [118]:
#Question2
#Find the details of Maximum Growth Rate
dt1.loc[dt1['Growth Rate'].idxmax()]

Rank                               5
Major               Building Science
Degree Type                Bachelors
Early Career Pay           5849397.0
Mid-Career Pay            14183348.0
% High Meaning                   46%
Difference                 8333951.0
Growth Rate                 1.424754
Name: 4, dtype: object

In [120]:
#Now atlast checking and removing the duplicates and importing the data to excel again.
dt1

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning,Difference,Growth Rate
0,1,Petroleum Engineering,Bachelors,8070687.0,17449467.0,60%,9378780.0,1.162080
1,2,Operations Research & Industrial Engineering,Bachelors,8325724.0,16667902.0,21%,8342178.0,1.001976
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,10571695.0,15820521.0,45%,5248826.0,0.496498
3,4,Interaction Design,Bachelors,6367698.0,14709876.0,55%,8342178.0,1.310078
4,5,Building Science,Bachelors,5849397.0,14183348.0,46%,8333951.0,1.424754
5,6,Applied Economics and Management,Bachelors,6680324.0,13928311.0,47%,7247987.0,1.084975
6,7,Actuarial Mathematics,Bachelors,5857624.0,13780225.0,48%,7922601.0,1.352528
7,8,Optical Science & Engineering,Bachelors,6705005.0,13689728.0,73%,6984723.0,1.041718
8,9,Quantitative Economics,Bachelors,6449968.0,13582777.0,43%,7132809.0,1.105867
9,10,Operations Research,Bachelors,7807423.0,13566323.0,56%,5758900.0,0.737619
10,11,Systems Engineering,Bachelors,7379619.0,13475826.0,57%,6096207.0,0.826087
11,12,Information & Computer Science,Bachelors,6022164.0,13401783.0,65%,7379619.0,1.225410
12,13,Public Accounting,Bachelors,5882305.0,13344194.0,47%,7461889.0,1.268531
13,14,Cognitive Science,Bachelors,6606281.0,13335967.0,43%,6729686.0,1.018680
14,15,Aeronautics & Astronautics,Bachelors,7387846.0,13294832.0,60%,5906986.0,0.799555
16,17,Pharmacy,Bachelors,5882305.0,12998660.0,80%,7116355.0,1.209790
17,18,Managerial Economics,Bachelors,6433514.0,12982206.0,38%,6548692.0,1.017903
18,19,Foreign Affairs,Bachelors,5364004.0,12973979.0,32%,7609975.0,1.418712
19,20,Political Economy,Bachelors,6236066.0,12891709.0,30%,6655643.0,1.067282
20,21,Chemical Engineering,Bachelors,7215079.0,12842347.0,54%,5627268.0,0.779932
22,23,Computer Science (CS) & Engineering,Bachelors,7692245.0,12677807.0,44%,4985562.0,0.648128
24,25,Computer Engineering (CE),Bachelors,7568840.0,12653126.0,46%,5084286.0,0.671739

In [122]:
dt1.count()

Rank                22
Major               22
Degree Type         22
Early Career Pay    22
Mid-Career Pay      22
% High Meaning      22
Difference          22
Growth Rate         22
dtype: int64

In [124]:
dt1.drop_duplicates()

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning,Difference,Growth Rate
0,1,Petroleum Engineering,Bachelors,8070687.0,17449467.0,60%,9378780.0,1.162080
1,2,Operations Research & Industrial Engineering,Bachelors,8325724.0,16667902.0,21%,8342178.0,1.001976
2,3,Electrical Engineering & Computer Science (EECS),Bachelors,10571695.0,15820521.0,45%,5248826.0,0.496498
3,4,Interaction Design,Bachelors,6367698.0,14709876.0,55%,8342178.0,1.310078
4,5,Building Science,Bachelors,5849397.0,14183348.0,46%,8333951.0,1.424754
5,6,Applied Economics and Management,Bachelors,6680324.0,13928311.0,47%,7247987.0,1.084975
6,7,Actuarial Mathematics,Bachelors,5857624.0,13780225.0,48%,7922601.0,1.352528
7,8,Optical Science & Engineering,Bachelors,6705005.0,13689728.0,73%,6984723.0,1.041718
8,9,Quantitative Economics,Bachelors,6449968.0,13582777.0,43%,7132809.0,1.105867
9,10,Operations Research,Bachelors,7807423.0,13566323.0,56%,5758900.0,0.737619
10,11,Systems Engineering,Bachelors,7379619.0,13475826.0,57%,6096207.0,0.826087
11,12,Information & Computer Science,Bachelors,6022164.0,13401783.0,65%,7379619.0,1.225410
12,13,Public Accounting,Bachelors,5882305.0,13344194.0,47%,7461889.0,1.268531
13,14,Cognitive Science,Bachelors,6606281.0,13335967.0,43%,6729686.0,1.018680
14,15,Aeronautics & Astronautics,Bachelors,7387846.0,13294832.0,60%,5906986.0,0.799555
16,17,Pharmacy,Bachelors,5882305.0,12998660.0,80%,7116355.0,1.209790
17,18,Managerial Economics,Bachelors,6433514.0,12982206.0,38%,6548692.0,1.017903
18,19,Foreign Affairs,Bachelors,5364004.0,12973979.0,32%,7609975.0,1.418712
19,20,Political Economy,Bachelors,6236066.0,12891709.0,30%,6655643.0,1.067282
20,21,Chemical Engineering,Bachelors,7215079.0,12842347.0,54%,5627268.0,0.779932
22,23,Computer Science (CS) & Engineering,Bachelors,7692245.0,12677807.0,44%,4985562.0,0.648128
24,25,Computer Engineering (CE),Bachelors,7568840.0,12653126.0,46%,5084286.0,0.671739

In [126]:
dt1.count()

Rank                22
Major               22
Degree Type         22
Early Career Pay    22
Mid-Career Pay      22
% High Meaning      22
Difference          22
Growth Rate         22
dtype: int64

In [128]:
dt1.isnull()

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning,Difference,Growth Rate
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False

In [133]:
dt1.to_excel("/home/rgukt/Python/data-extraction-project-2/sample_data_modifiex.xlsx")

In [135]:
#So these are the operations i have performed on the data.
#If you think, we can modify this data even more, you can.